.createUser {
	width: 80%;
	/*background-color: red;*/ 
	margin: auto; 
	border: 1px solid gray;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}